<div class="pwd-reset-intructions main-form-layout">
  <h1>Réinitialiser le mot de passe</h1>
  <p>
    Un e-mail a été envoyé à l'adresse suivante:
    <span class="fw-bold">{{ email }}</span>
  </p>
  <p>
    Vous y trouverez un lien contenant un mot de passe temporaire qui vous
    permettra de réinitialiser votre mot de passe.
  </p>
  <div class="aside-link">
    <p>
      Vous n'avez pas reçu l'e-mail pour la réinitialisation de votre mot de
      passe ?
      <br />
      <a routerLink="/password-reset/init">Recevoir un nouvel e-mail</a>
    </p>
  </div>
  <div class="aside-text-info">
    <a routerLink="/home">Accueil</a> -
    <a routerLink="/login">Connexion</a>
  </div>
</div>
