<section class="event-participantlist">
  <fieldset class="sub-fieldset">
    <legend>Liste des invités</legend>
    <div class="toggle-text" [ngClass]="{ 'mx-auto': !isOrganizer }">
      <div
        class="circle-layout"
        [ngClass]="{ selected: isDisplayForm }"
        title="Ajouter un invité"
        *ngIf="isOrganizer"
      >
        <svg
          (click)="toggleForm()"
          role="button"
          aria-roledescription="Ajouter un invité"
        ></svg>
      </div>
      <span
        *ngIf="!isDisplayForm && participations && participations.length == 0"
      >
        Aucun invité
      </span>
      <span
        *ngIf="!isDisplayForm && participations && participations.length > 0"
      >
        {{ participations.length }} invité<span
          *ngIf="participations.length > 1"
          >s</span
        >
      </span>
      <span *ngIf="isDisplayForm" class="required"> * Champs requis </span>
    </div>
    <app-add-participant-form
      [eventId]="eventId"
      [ngClass]="{ 'show-form': isDisplayForm, 'hide-form': !isDisplayForm }"
    ></app-add-participant-form>
    <article
      class="participant-list"
      *ngIf="participations && participations.length > 0"
    >
      <p *ngFor="let participation of participations">
        <app-participant-status
          [status]="handleStatus(participation.availability)"
        ></app-participant-status>
        <a
          *ngIf="isOrganizer"
          href="mailto:{{ participation.email }}"
          title="Envoyé un mail à {{ participation.email }}"
          target="_blank"
          >{{ participation.name }}</a
        >
        <span *ngIf="!isOrganizer">{{ participation.name }}</span>
        <button
          *ngIf="isOrganizer"
          type="button"
          (click)="openModal(participation)"
          title="Enlever {{ participation.name }} de l'event"
        >
          X
        </button>
      </p>
    </article>
  </fieldset>
</section>
