<section class="event-localization">
  <app-event-localization-form
    [eventId]="eventId"
    [address]="address && address"
    (hideForm)="toggleEdition()"
    *ngIf="edited"
  ></app-event-localization-form>
  <fieldset class="sub-fieldset" *ngIf="!edited">
    <legend>Adresse</legend>
    <div *ngIf="address">
      <article class="address-info">
        <p class="address">{{ address && address.street }}</p>
        <p class="locZip">
          {{ address && address.zipCode }} {{ address && address.locality }}
        </p>
      </article>
      <span class="aside-info" *ngIf="address.additional"
        >Complément d'adresse:</span
      >
      <aside class="additional-address">
        {{ address && address.additional }}
      </aside>
    </div>
    <p *ngIf="!address" class="pb-2">Aucune adresse renseignée</p>

    <div class="button-layout" *ngIf="isOrganizer">
      <button
        type="button"
        class="tight-white-button"
        (click)="toggleEdition()"
      >
        Modifier l'adresse
      </button>
    </div>
  </fieldset>
</section>
