<div></div>
<div class="event-layout" *ngIf="event">
  <app-event-mobile-menu></app-event-mobile-menu>
  <app-event-title [title]="event.title" [eventId]="event.id"></app-event-title>
  <app-event-id [eventId]="event.eventId" [event_id]="event.id"></app-event-id>
  <app-event-aside-info
    [eventId]="event.id"
    [organizer]="event.organizer"
    [organizerMail]="event.organizerMail"
    [title]="event.title"
    [eventDate]="event.date"
  ></app-event-aside-info>
  <div id="description"></div>
  <app-event-description
    [eventId]="event.id"
    [description]="event.description"
  ></app-event-description>
  <app-event-participant-list
    id="participantList"
    [eventId]="event.id"
    [title]="event.title"
  ></app-event-participant-list>
  <app-event-localization
    id="address"
    [eventId]="event.id"
    [address]="event.address"
    [zipCode]="event.zipCode"
    [locality]="event.locality"
    [additional]="event.additional"
  ></app-event-localization>
</div>
<div style="height: 50px"></div>
