*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  min-width: 270px;
  margin-bottom: 1em;
}

form {
  margin: auto;
  .btn {
    width: 40% !important;
  }
  .form-group {
    margin: auto;
    margin-bottom: 0.5em;
  }
}

.pwd-reset-intructions {
  width: 90%;
  margin: auto;
}

// Media queries
@media only screen and (min-width: 500px) {
  form {
    .form-group,
    aside.aside-text-info {
      width: 80% !important;
      input {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  form {
    width: 90% !important;
  }
  aside.aside-text-info {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  form {
    width: 75% !important;
  }
  aside.aside-text-info {
    width: 85%;
  }
  .pwd-reset-intructions {
    width: 75%;
  }
}

@media only screen and (min-width: 900px) {
  form {
    width: 50% !important;
  }
  aside.aside-text-info {
    width: 75%;
  }
  .pwd-reset-intructions {
    width: 50%;
  }
}
