@mixin text-maker($color: $primary, $size: 1em, $weight: inherit) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
}

@mixin flex-center() {
  @include flex-maker();
}

@mixin flex-maker($direction: column, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin layout-color-maker($bgColor: $light, $color: $primary) {
  background-color: $bgColor;
  color: $color;
}

@mixin space-maker($padding: 0, $margin: 0) {
  padding: $padding !important;
  margin: $margin !important;
}

@mixin tight-white-button {
  @include tight-button-maker(
    $bgColor: #fff,
    $color: $primary,
    $boxShadowColor: $primary,
    $boxShadowHoverColor: $blood
  );
}
@mixin tight-secondary-button {
  @include tight-button-maker(
    $bgColor: $secondary,
    $color: #fff,
    $boxShadowColor: $blood,
    $boxShadowHoverColor: $primary
  );
}
@mixin tight-primary-button {
  @include tight-button-maker($bgColor: $primary, $color: #fff, $boxShadowColor: $primary, $boxShadowHoverColor: $dark);
}
@mixin tight-blood-button {
  @include tight-button-maker(
    $bgColor: $blood,
    $color: $light,
    $boxShadowColor: $primary,
    $boxShadowHoverColor: $blood
  );
}

@mixin main-secondary-button {
  @include main-button-maker($bgColor: $secondary, $color: $primary);
}

@mixin main-button-maker($bgColor, $hoverBgColor: $bgColor, $color, $hoverColor: $color) {
  @include button-color-maker($bgColor, $color);
  @include space-maker(0 0.5em, 0);
  font-weight: 500;
  font-size: 1.15em !important;
  border-radius: 4px;
  border: 1pt solid $primary;
  &:hover {
    transition: 500ms all;
  }
}

@mixin tight-button-maker(
  $bgColor,
  $hoverBgColor: $bgColor,
  $color,
  $hoverColor: $color,
  $boxShadowColor,
  $boxShadowHoverColor: $boxShadowColor
) {
  @include button-color-maker($bgColor, $color, $hoverBgColor, $hoverColor);
  @include space-maker(0 0.5em, 0.5em 0 0.25em);

  font-weight: 500;
  font-size: 0.8em;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 1px 1px $boxShadowColor;
  &:hover {
    box-shadow: 1px 1px 5px 2px $boxShadowHoverColor;
  }
}

@mixin button-color-maker($bgColor, $color, $hoverBgColor: $color, $hoverColor: $bgColor) {
  @include layout-color-maker($bgColor, $color);
  &:hover {
    @include layout-color-maker($hoverBgColor, $hoverColor);
  }
}

@mixin primary-secondary-link($size: 1em) {
  @include link-maker($primary, $secondary);
}

@mixin blood-secondary-link($size: 1em) {
  @include link-maker($blood, $secondary);
}

@mixin link-maker($color, $hoverColor: $color, $decoration: underline, $size: 1.15em, $weight: 500) {
  color: $color;
  text-decoration: $decoration;
  font-size: $size;
  font-weight: $weight;
  &:hover {
    color: $hoverColor;
    transition: 250ms all;
  }
}
