<main class="mt-4">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" novalidate>
    <fieldset class="form-group border">
      <legend class="w-auto px-2">Formulaire d'inscription</legend>
      <div class="required">* Champs obligatoires</div>
      <div class="form-group mb-3">
        <label for="username" class="form-label">Nom d'utilisateur <span class="text-blood">*</span></label>
        <input type="text" name="username" id="username" placeholder="Entrez un nom d'utilisateur" class="form-control"
               aria-required formControlName="username">
        <div class="error-feedback"
             *ngIf="submitted && signUpForm.controls['username'].errors && signUpForm.controls['username'].errors['required']">
          * Vous devez entrer un nom d'utilisateur.
        </div>
        <div class="error-feedback"
             *ngIf="submitted && signUpForm.controls['username'].errors && signUpForm.controls['username'].errors['minlength']">
          Le nom d'utilisateur doit comporter au moins 2 caractères.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="email" class="form-label">E-mail <span class="text-blood">*</span></label>
        <input type="email" name="email" id="email" placeholder="mon-email@gmail.com" class="form-control"
               aria-required formControlName="email">
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label" aria-required>Mot de passe <span class="text-blood">*</span></label>
        <input type="password" name="password" id="password" placeholder="Choisissez un mot de passe"
               class="form-control" aria-required formControlName="password">
      </div>
      <div class="form-group mb-3">
        <label for="confirm_password" class="form-label">Confirmation du mot de passe <span
                class="text-blood">*</span></label>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmer votre mot de passe"
               class="form-control" aria-required formControlName="confirm_password">
      </div>
      <div class="row">
        <button type="submit" class="btn btn-secondary">S'inscrire</button>
      </div>
    </fieldset>
  </form>
</main>
