.event-localization {
  .address-info {
    @include flex-maker($direction: column);
    margin-bottom: 1em;
    flex-wrap: wrap;
    .address {
      margin-right: 0.5em;
    }
  }
  .additional-address {
    @include flex-maker($alignItems: flex-start);
    margin-bottom: 0.25em !important;
    margin-top: 0.25em !important;
  }
  .aside-info {
    @include text-maker($blood, 0.85em, bold);
    margin: 0.5em 0;
    border-bottom: 1px solid #000;
  }

  .event-localization-form-layout {
    @extend .event-edit-form;
    input {
      margin-top: 0 !important;
    }
  }
  @media only screen and (min-width: 400px) {
    .zip-loc-layout {
      display: flex;
      justify-content: space-between;
      .zipcode {
        &.form-group {
          width: 30% !important;
          margin-right: 1em;
        }
      }
      .locality {
        &.form-group {
          width: 70% !important;
          margin: 0;
        }
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .event-localization-form-layout {
      .form-group {
        width: 100% !important;
      }
    }
  }
}
