.event-menu {
  background-color: lighten($primary, $amount: 3.5%);
  box-shadow: 0 -2px 2px $dark;
  padding: 0 !important;
  &.navbar {
    flex-wrap: nowrap;
  }
  &.fixed-bottom {
    bottom: 0;
  }
  .nav-link {
    padding: 0.25em;
    .flex-icon {
      display: flex;
      color: $secondary;
      font-size: 0.75em;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .nav-item-label {
        display: none;
      }
      svg {
        margin-right: 0.5em;
        width: 30px;
        height: 30px;
      }

      .event-info {
        background-image: url("../../img/event-info.svg");
      }
      .event-participants {
        background-image: url("../../img/staff.svg");
      }
      .event-address {
        background-image: url("../../img/home-address.svg");
      }

      &:hover {
        color: lighten($color: $secondary, $amount: 20%);
        cursor: pointer;
      }
      .dropup .dropdown-menu[data-bs-popper] {
        left: 0.5em;
        top: auto;
        bottom: 100%;
        margin-top: 0;
        margin-bottom: 0.25rem;
        background-color: $primary;
      }
      .dropdown-item {
        background-color: $primary;
        color: $secondary;
        &:hover {
          background-color: $secondary;
          color: $primary;
        }
      }
    }

    &:hover {
      background-color: $primary;
      transition: all 650ms;
      .flex-icon {
        color: lighten($color: $secondary, $amount: 20%) !important;
        .event-info {
          background-image: url("../../img/event-info-hover.svg");
        }
        .event-address {
          background-image: url("../../img/home-address-hover.svg");
        }
        .event-participants {
          background-image: url("../../img/staff-hover.svg");
        }
      }
    }
  }

  .dropdown-toggle {
    background-color: lighten($primary, $amount: 3.5%);
    border-radius: 8px;
    &:hover {
      background-color: $primary;
    }
    &::after {
      content: none;
    }
    &.btn {
      margin: 0;
      padding: 0;
    }
    svg#user-status {
      background-image: url("../../img/user-profile-selected.svg");
      width: 30px;
      height: 30px;
      border-radius: 50%;
      &.sts_muted {
        visibility: 0.2;
      }
      &.sts_unknown {
        color: $light;
        background-image: url("../../img/user-profile.svg");
      }
      &.sts_available {
        background-color: rgb(63, 136, 84);
      }
      &.sts_uncertain {
        background-color: $secondary;
        background-image: url("../../img/user-profile-uncertain.svg");
      }
      &.sts_unavailable {
        background-color: $blood;
      }
    }
  }

  .go-to-top {
    margin-left: 0.5em;
    width: 30px;
    height: 30px;
    background-image: url("../../img/to-top.svg");
    &:hover {
      background-image: url("../../img/to-top-hover.svg");
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 380px) {
    .nav-link {
      .flex-icon {
        .nav-item-label {
          display: block;
        }
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
@media only screen and(min-width: 576px) {
  .event-menu.fixed-bottom {
    bottom: 30px !important;
  }
}
@media only screen and(min-width: 768px) {
  .event-menu {
    width: 100px;
    z-index: 2000;
    bottom: 25px;
    left: 10px;
    padding: 0 !important;
    box-shadow: none;
    background-color: transparent;

    .nav-link:not(&.user-status),
    .flex-icon {
      display: none;
    }
    .dropdown-toggle {
      border-radius: 100%;
      svg#user-status {
        margin: 0 !important;
        padding: 0 !important;
        width: 60px;
        height: 60px;
        box-shadow: 2px 2px 6px $primary, -2px -2px 6px $primary;

        &:hover {
          box-shadow: 3px 3px 6px $secondary, -3px -3px 6px $secondary;
        }
      }
    }
    .dropdown-menu.show {
      margin-bottom: 0.5em !important;
      left: 1.5em !important;
    }

    .nav-link:first-child {
      padding: 0 !important;
      border-radius: 100%;
      &:hover {
        border-radius: 100%;
        padding: 0;
        background-color: transparent;
      }
    }
  }
}
