<form [formGroup]="localizationForm" (ngSubmit)="onSubmitForm()">
  <fieldset class="event-localization-form-layout">
    <legend>Modification de l'adresse</legend>
    <div class="form-group">
      <label for="address" class="form-label">Adresse</label>
      <input
        type="text"
        name="address"
        id="address"
        placeholder="Entrez un adresse (numéro, nom de rue)"
        class="form-control"
        formControlName="address"
        autocomplete="street-address"
      />
    </div>
    <div class="form-group">
      <label for="zipCode" class="form-label">Code postal</label>
      <input
        name="zipCode"
        id="zipCode"
        placeholder="ex: 35000"
        class="form-control"
        formControlName="zipCode"
        max="99999"
        min="0"
        type="number"
        autocomplete="postal-code"
      />
      <div
        class="error-feedback"
        *ngIf="
          submitted &&
            localizationForm.controls['zipCode'].errors?.['pattern']
        "
      >
        * Doit être composé de 5 chiffres.
      </div>
    </div>
    <div class="form-group">
      <label for="locality" class="form-label">Ville</label>
      <input
        type="text"
        name="locality"
        id="locality"
        placeholder="Indiquez une Ville"
        class="form-control"
        formControlName="locality"
      />
    </div>
    <div class="form-group col">
      <label for="additionnal" class="form-label">Infos complémentaires</label>
      <textarea
        name="additionnal"
        id="additionnal"
        placeholder="Complément d'adresse (codes, étages, accès, batiment, etc...)"
        class="form-control"
        formControlName="additional"
      ></textarea>
    </div>
    <div class="wrap-btn">
      <button class="tight-white-button" type="button" (click)="cancelForm()">
        Annuler
      </button>
      <button class="tight-blood-button" type="submit">
        Modifier le titre
      </button>
    </div>
  </fieldset>
</form>
