.event-layout {
  color: $primary;
  margin: auto;

  .button-layout {
    text-align: right;
  }
  #description {
    position: absolute;
    margin-top: -4em;
  }
  .event-id {
    @include flex-center;
  }

  .event-title {
    h1 {
      color: $blood;
      font-size: 1.25em;
      text-align: center;
    }
    hr {
      margin: 0;
    }
    .button-layout {
      margin-top: -0.3em;
      margin-right: 0.6em;
    }
    .event-title-form-layout {
      @extend .event-edit-form;
    }
  }

  .sub-fieldset {
    text-align: left;
    width: 100%;
    @include flex-maker($justifyContent: flex-start);
    background-color: lighten($secondary, $amount: 30%);
    padding: 0 0.5em 0.5em;
    legend {
      @include text-maker($color: $blood, $size: 1em, $weight: 500);
      width: auto;
      padding: 0.5em;
    }
    p {
      margin: 0;
    }
  }

  .event-description {
    .sub-fieldset {
      background-color: #fff;
      img {
        display: none !important;
      }
    }
    .event-description-form-layout {
      @extend .event-edit-form;
    }
  }

  .event-aside-info {
    .event-organizer {
      margin-bottom: 0.25em;
    }
    .event-aside-info-form-layout {
      @extend .event-edit-form;
    }
  }

  .tight-white-button {
    @include tight-white-button;
    margin-left: auto;
    margin-right: 0.5em;
  }

  .tight-secondary-button {
    @include tight-secondary-button;
  }
  .tight-blood-button {
    @include tight-blood-button;
  }
}

// Shared
.event-edit-form {
  background-color: $light;
  border-color: $blood;
  box-shadow: 1px 1px 2px $blood;
  border-width: 2px;
  legend {
    font-size: 0.9em;
    font-weight: bold;
    color: $blood;
  }
  .wrap-btn {
    text-align: right;
    button {
      margin: 0 0 0 0.5em;
      margin-left: 0.5em;
    }
  }
  input {
    color: #000;
    margin-top: 0.5em;
    font-weight: 500;
  }
  .form-text {
    margin-bottom: 0;
  }
}

@import "./menu.scss";
@import "./participant-list.scss";
@import "./localization.scss";
