table {
  border-radius: 8px;
  .table-primary {
    --bs-table-bg: #fbecd5;
    color: $dark;
    border-color: $dark;
    text-align: center;
    padding: 0 !important;
  }
  thead {
    background-color: $secondary;
    color: $dark;
    border-color: $dark;
    text-align: center;
  }
}

.organizer-event-list-layout {
  margin-top: 5em !important;
  width: 90%;
  margin: auto;
  .table {
    border-radius: 8px;
    margin: auto;
    th {
      padding: 0 0.25em !important;
    }
    td {
      padding: 0.15em 0.25em !important;
    }
  }
  h1 {
    color: $blood;
    font-size: 1.15em;
  }

  .event-title {
    width: 60%;
    a {
      font-weight: 500;
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
        color: $blood !important;
      }
    }
  }
  .aside-text-info {
    text-align: left;
    margin-top: 0.25em;
    a {
      color: $dark;
      &:hover {
        text-decoration: underline;
        color: $blood;
      }
    }
  }
}
