.event-layout {
  color: $primary;
  margin: auto;

  .button-layout {
    text-align: right;
  }
  #description {
    position: absolute;
    margin-top: -4em;
  }
  .event-id {
    @include flex-center;
  }

  .event-title {
    h1 {
      color: $blood;
      font-size: 1.25em;
      text-align: center;
    }
    hr {
      margin: 0;
    }
    .button-layout {
      margin-top: -0.3em;
      margin-right: 0.6em;
    }
  }

  .sub-fieldset {
    text-align: left;
    width: 100%;
    @include flex-maker($justifyContent: start);
    background-color: lighten($secondary, $amount: 30%);
    padding: 0 0.5em 0.5em;
    legend {
      @include text-maker($color: $blood, $size: 1em, $weight: 500);
      width: auto;
      padding: 0.5em;
    }
    p {
      margin: 0;
    }
  }

  .event-localization {
    .address-info {
      @include flex-maker($direction: row);
      flex-wrap: wrap;
      margin-bottom: 0;
      .address {
        margin-right: 0.5em;
      }
    }
    .additional-address {
      @include flex-maker($justifyContent: flex-start);
      margin-bottom: 0.25em;
      text-align: center;
    }
    .aside-info {
      @include text-maker($blood, 0.85em, bold);
      margin: 0.5em 0;
      border-bottom: 1px solid #000;
    }
  }

  .event-guestlist {
    .sub-fieldset {
      align-items: inherit;
      .toggle-text {
        display: flex;
        justify-content: space-between;
        .circle-layout {
          @include flex-center;
          background-color: $secondary;
          cursor: pointer;
          box-shadow: 1px 1px 2px $blood;
          border-radius: 50%;
          padding: 0.5em;
          z-index: 1;
          &:hover,
          &.selected {
            box-shadow: 1px 1px 5px $dark;
            svg {
              background-image: url("../../img/male-add-hover.svg");
            }
          }
        }
        svg {
          background-image: url("../../img/male-add.svg");
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
        }
      }
      .guest-list {
        @include flex-maker($direction: row);
        flex-wrap: wrap;
        margin-top: 1em;
        p {
          @include flex-maker($direction: row, $justifyContent: flex-start);
        }
        button {
          background-color: $secondary;
          box-shadow: 1px 1px 2px $blood;
          margin-left: 0.5em;
          margin-right: 1em;
          font-size: 0.6em;
          padding: 0 0.5em;
          border: none;
          &:hover {
            box-shadow: 2px 2px 10px $primary;
          }
        }
      }
    }
    .guest-form-layout {
      width: 85%;
      transition: all 2s;
      position: relative;
      border-color: $blood;
      top: -1em;
      left: 0.35em;
      z-index: 0;
      margin-bottom: 0;
      legend {
        padding: 0 1em;
        text-align: left;
        font-weight: 500;
        color: $blood;
        font-size: 0.9em;
      }
      input {
        padding: 0.25em;
      }
      label {
        color: $primary;
      }
      .wrap-btn {
        text-align: center;
      }
    }
    .show-form {
      display: block;
    }
    .hide-form {
      display: none;
    }
    .guest-status-layout {
      margin-left: 0.5em;
      .circle-layout {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-right: 0.5em;
        box-shadow: 2px 2px 2px $primary, -1px -1px 2px $primary;
        &.unknown {
          background-color: $light;
        }
        &.available {
          background-color: rgb(63, 136, 84);
        }
        &.uncertain {
          background-color: rgb(227, 169, 51);
        }
        &.unavailable {
          background-color: $blood;
        }
      }
    }
  }

  .event-description {
    .sub-fieldset {
      background-color: #fff;
      img {
        display: none !important;
      }
    }
  }

  .event-aside-info {
    .event-organizer {
      margin-bottom: 0.25em;
    }
  }

  .tight-white-button {
    @include tight-white-button;
    margin-left: auto;
    margin-right: 0.5em;
  }

  .tight-secondary-button {
    @include tight-secondary-button;
  }
}

@import "./menu.scss";
