@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);

@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr";

@import "/src/assets/scss/styles.scss";

// font colors
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}
.text-light {
  color: $light !important;
}
.text-blood {
  color: $blood;
}

// Background colors
.bg-primary {
  background-color: $primary !important;
}
.bg-secondary {
  background-color: $secondary !important;
}
.bg-light {
  background-color: $light !important;
}
.bg-blood {
  background-color: $blood;
}

// Bootstrap override
.btn,
.btn:active {
  box-shadow: none !important;
}
.form-control:focus {
  border-color: $secondary;
  box-shadow: 1px 1px 1px $secondary;
}
