<nav class="navbar navbar-expand-sm navbar-light fixed-top top-nav">
  <div class="container-fluid">
    <div>
      <a routerLink="/home">
        <app-navbar-logo class=".navbar-brand"></app-navbar-logo>
      </a>
      <a routerLink="/home">
        <app-navbar-title></app-navbar-title>
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0"></div>
      <ul>
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          *ngIf="!connected"
        >
          <a routerLink="/signup">
            <div class="flex-icon">
              <svg class="signup-img"></svg>
              Inscription
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          *ngIf="!connected"
        >
          <a routerLink="/login">
            <div class="flex-icon">
              <svg class="login-img"></svg>
              Connexion
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          *ngIf="connected"
        >
          <a routerLink="/logout">
            <div class="flex-icon">
              <svg class="logout-img"></svg>
              Déconnexion
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
