<a
  class="close-navbar-toggler collapsed"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"
  data-bs-toggle="collapse"
  data-bs-target=".navbar-collapse.show"
>
</a>
<nav class="navbar navbar-expand-sm navbar-light fixed-top top-nav">
  <div class="container-fluid">
    <div>
      <a routerLink="/home">
        <app-navbar-logo class=".navbar-brand"></app-navbar-logo>
      </a>
      <a routerLink="/home">
        <app-navbar-title></app-navbar-title>
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          *ngIf="!authenticated"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <a routerLink="/signup">
            <div class="flex-icon">
              <svg class="signup-img"></svg>
              Inscription
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          *ngIf="!authenticated"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <a routerLink="/login">
            <div class="flex-icon">
              <svg class="login-img"></svg>
              Connexion
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="authenticated"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <a routerLink="/events">
            <div class="flex-icon">
              <svg class="events-img"></svg>
              Mes events
            </div>
          </a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-nav-item"
          *ngIf="authenticated"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <a routerLink="/logout">
            <div class="flex-icon">
              <svg class="logout-img"></svg>
              Déconnexion
            </div>
          </a>
        </li>
        <li
          class="menu-hidden nav-item"
          data-bs-toggle="collapse"
          data-bs-target=".navbar-collapse.show"
        >
          <hr />
          <a routerLink="/cgu">
            <div class="flex-icon">Conditions générales d'utilisation</div></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
