<div class="nav-link user-status">
  <div class="flex-icon">
    <div class="dropup">
      <button
        type="button"
        class="btn dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <svg
          id="user-status"
          [ngClass]="{
            sts_unknown: status == 'unknown',
            sts_available: status == 'Disponible',
            sts_uncertain: status == 'Incertain',
            sts_unavailable: status == 'Indisponible'
          }"
        ></svg>
      </button>
      <ul class="dropdown-menu">
        <li>
          <button
            class="dropdown-item"
            type="button"
            (click)="updateStatus('Disponible')"
          >
            Participe
          </button>
        </li>
        <li>
          <button
            class="dropdown-item"
            type="button"
            (click)="updateStatus('Incertain')"
          >
            Incertain
          </button>
        </li>
        <li>
          <button
            class="dropdown-item"
            type="button"
            (click)="updateStatus('Indisponible')"
          >
            Indisponible
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
