<section class="event-localization">
  <app-event-localization-form
    [eventId]="eventId"
    [eventAddress]="address"
    [eventZipCode]="zipCode"
    [eventLocality]="locality"
    [eventAdditional]="additional"
    (hideForm)="toggleEdition()"
    *ngIf="edited"
  ></app-event-localization-form>
  <fieldset class="sub-fieldset" *ngIf="!edited">
    <legend>Addresse</legend>
    <p class="address-info">
      <span class="address">{{ address }}</span>
      <span class="locZip">{{ zipCode }} {{ locality }}</span>
    </p>
    <span class="aside-info">Complément d'addresse:</span>
    <p class="additional-address">{{ additional }}</p>

    <button type="button" class="tight-white-button" (click)="toggleEdition()">
      Modifier l'adresse
    </button>
  </fieldset>
</section>
