<form [formGroup]="eventTitleForm" (ngSubmit)="onSubmitForm()">
  <fieldset class="event-title-form-layout">
    <legend>Modification du titre</legend>
    <div class="form-group">
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Titre"
        class="form-control"
        aria-required
        aria-describedby="titleHelp"
        formControlName="title"
      />
      <div
        id="titleHelp"
        class="form-text"
        [ngClass]="{
          'form-text-error': eventTitleForm.value['title'].length > 50
        }"
      >
        50 caractères maximum [{{ eventTitleForm.value?.['title']?.length }}
        / 50]
      </div>
      <div
        class="error-feedback"
        *ngIf="
          submitted &&
            eventTitleForm.controls['title'].errors?.['required']
        "
      >
        * Champs requis.
      </div>
    </div>
    <div class="wrap-btn">
      <button class="tight-white-button" type="button" (click)="cancelForm()">
        Annuler
      </button>
      <button class="tight-blood-button" type="submit">
        Modifier le titre
      </button>
    </div>
  </fieldset>
</form>
